*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    overflow: hidden;
}
section{
    height: 100vh;
    width: 100vw;
}
nav{
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 30px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    width: 100px;
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: gold;
}
nav ul li:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2px solid gold;
    border-top: 2px solid gold;
    top: 0;
    left: 0;
    transition: .5s all;
}
nav ul li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 2px solid gold;
    border-bottom: 2px solid gold;
    right: 0;
    bottom: 0;
    transition: .5s all;
}
nav ul .list.active:before,
nav ul .list.active:after{
    width: 10%;
    height: 20%;
}
p{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
}